/* .container{
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
  padding:20px;
} */


.property-list {
  display: grid;
  /* At least 300px, but never bigger than 350px. 
     'auto-fill' creates empty space instead of stretching cards. */
  grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
  gap: 2rem;
  justify-content: center; /* Centers the cards on the screen */
  padding: 1rem;
}
