/* You can add global styles to this file, and also import other style files */
/* 

Pallate: https://coolors.co/palette/fffcf2-ccc5b9-403d39-252422-eb5e28

*/

:root{

    --primary-color: #605DC8;
    --secondary-color: #8B89E6;
    --accent-color: #e8e7fa;
    
    --header-color: #9DACFF;
    --call-to-action-color: #ff7d00;
    --website-background-color: #FAF9F6;
    --text-color:#2D2E32;
    /* --cta-hover: #e64a19; */
    --main-padding: 1rem;
    --primary-font: "Figtree", sans-serif;;
    --title-font : "Seaweed Script", cursive;

    --card-rgb: 119, 141, 169;
    --white-rgb: 255, 255, 255;

        /* Surface Tokens */
    --card-bg: rgba(119, 141, 169, 0.6); /* Your Glass color */
    --radius-lg: 16px;
    --radius-sm: 8px;

    /* Shadow Tokens */
    --shadow-sm: 0 2px 4px rgba(0,0,0,0.05);
    --shadow-md: 0 8px 32px rgba(31, 38, 135, 0.15);

    /* 3. Centralized Border/Glass Token */
    /* Define the 'formula' for your glass borders here */
    --glass-border: rgba(var(--white-rgb), 0.2);
}



/* body{ background-color: #0e9594;} */

body {
    background-color: var(--website-background-color);
    color: var(--text-color);
    font-family: var(--primary-font);
    line-height: 1.6;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
    font-weight: 800;
    
}
