name: Build and Deploy
on:
  push:
    branches:
      - master # or main
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22 # Latest stable for 2026

      - name: Install and Build
        run: |
          npm install --legacy-peer-deps
          npx ng build --base-href /Rate-My-landlord-Frontend/

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist/rate-my-landlord/browser # Verify this path
          branch: gh-pages
