.app-footer{
  /* background-color: var(--header-color); */
     background-color: color-mix(in srgb, var(--header-color), transparent 30%);
    -webkit-backdrop-filter: blur(12px); 
    backdrop-filter: blur(12px);

    color: var(--website-background-color);
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 1.5rem;
}
.footer-content{
  display: flex;
  justify-content: center;
}
